@import './breakpoints';

[class$='container'] {
  margin: 0 auto;
  padding: 0 16px;

  @include onMobile {
    width: 375px;
  }
  @include onTablet {
    width: 768px;
    padding: 0 32px;
  }
  @include onDesktop {
    width: 1440px;
    padding: 0 46px;
  }
}
