:root {
  --accent-color: rgb(129, 10, 10);
  --text-color: black;
  --light-text-color: gray;
  --footer-bg: rgb(40, 40, 40);
  --light-color: lightgray;
  --black-color: black;
  --white-color: white;
}
